.chat-main__messages__message{"data-message_id" => "410"}
  .chat-main__messages__message__upper-info
    %p.chat-main__messages__message__upper-info--talker test-user
    %p.chat-main__messages__message__upper-info--data 2019/08/31(Sat) 17:34:53
  %p.chat-main__messages__message--text こんにちは